= form_for @employee do |f|
  .row
    .small-8
      .row
        .small-3.column
          = f.label :first_name, class: 'right inline'
        .small-9.column
          = f.text_field :first_name, placeholder: 'First Name'
    .small-8
      .row
        .small-3.column
          = f.label :middle_name, class: 'right inline'
        .small-9.column
          = f.text_field :middle_name, placeholder: 'Middle Name'
    .small-8
      .row
        .small-3.column
          = f.label :last_name, class: 'right inline'
        .small-9.column
          = f.text_field :last_name, placeholder: 'Last Name'
    .small-offset-3.column
      = f.submit "Save", class: "button"
