%tr
  %td= leave.requester.name
  %td= leave.leave_date.strftime("%b %-d, %Y")
  %td= leave.reason
  %td
    - if leave.pending?
      - if current_employee.hr?
        = link_to 'Approve', leave_path(leave, status: "approve"), method: :put
        |
        = link_to 'Reject', leave_path(leave, status: "reject"), method: :put
      - else
        Pending
    - elsif leave.approved?
      Approved
    - else
      Rejected
