%nav.top-bar{"data-options" => "is_hover: false", "data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1
        = link_to 'Another Admin Tool', employees_path
    %li.toggle-topbar.menu-icon
      %a
  %section.top-bar-section
    %ul.right
      %li{class: current_active_page_css_class(employees_path) }
        = link_to 'Employees', employees_path
      %li{class: current_active_page_css_class(events_path) }
        = link_to 'Events', events_path
      %li{class: current_active_page_css_class(leaves_path) }
        = link_to 'Leaves', leaves_path
      %li.has-dropdown
        %a{:href => "#"}= current_employee.email
        %ul.dropdown.user-profile-dropdown
          %li= link_to 'Update Profile', employee_path(current_employee)
          %li= link_to 'Sign Out', destroy_employee_session_path, :method => :delete
